/* HEADER */

.header{
	height: 90px;
}	
.header-logo{
	height: 100%;
	width: 20%;
	display: inline-block;
	position: relative;
}
.header-logo img{
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.header-main{
	display: inline-block;
	width: 80%;
	float: right;
	height: 100%;
	box-sizing: border-box;
	padding: 0 70px;
	height: 45px;
	line-height: 45px;
}
.header-main .link {
	height: 45px;
	line-height: 45px;
}
.header-maain .link a {
	color: #333;
}
.header-main .link a:nth-child(2){
	float: right;
}
.header-main .main-list{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}
.header-main .main-list-item{
	display: inline-block;
}
.header-main .main-list-item a{
	color: #333;
	text-decoration: none;
	padding: 10px;
	font-weight: 600;
}
.header-main .main-list-item a:hover{
	color: #f80000;
}
.planning-content-text .contentButtons{
	display: flex;
	justify-content: center;
}
.planning-content-text .contentButtons-button{
	padding: 18px 61px;
	margin: 10px;
	border: 1px solid #006699;
	background: transparent;
}
.planning-content-text .contentButtons-button:hover{
	border: 1px solid black;
	color: black;
}
/* FOOTER */
.footer{

}
/* FOOTER */
.footer-contentcols{
	display: flex;
	background-color: #fafafa;
	justify-content: space-between;
}
.footer-contentcols-col{
	padding: 0 30px 50px;
}
.footer-contentcols-col .title{
	color: #1f3f82;
	margin-bottom: 30px;
}
.footer-contentcols-col .footer-col-list{
	list-style: none;
	padding: 0;
	margin: 0;
}
.footer-contentcols-col .list-item{
	margin: 0 0 15px;
}
.footer-contentcols-col .list-item-link{
	text-decoration: none;
	font-size: 0.88em;
}
/* FOOTER BOTTOM */
.footer-contentBottom{
	position: relative;
}
.footer-contentBottom-title{
	font-size: 1.25em;
	margin-bottom: 10px;
	font-weight: normal;
}
.footer-contentBottom-title span{
	color: #f80000;
}
.footer-contentBottom-listlink{
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0.69em;
}
.footer-contentBottom-listlink .item{
display: inline-block;
}
.footer-contentBottom-listlink .item-link{
text-decoration: none;
color: black;
}

.footer-contentBottom-listSocial{
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	right:0;
	top: 0;
}
.footer-contentBottom-listSocial .item{
	display: inline-block;
}
.footer-contentBottom-listSocial .item-link{


text-decoration: none;
padding: 10px;